stages:
  - test 
  - build
  - deploy

unit-tests:
  stage: test
  image: python:3.13-alpine
  before_script: 
    - python -m pip install --no-cache-dir pipx
    - python -m pipx install poetry
    - poetry install
  script: 
    - poetry run python -m unittest tests/*
