stages:
  - test 
  - build
  - deploy

unit-tests:
  stage: test
  image: 
    name: python:3.13-alpine
    entrypoint: ['']
  variables: 
    SHELL: /bin/sh
  before_script: 
    - python -m pip install --no-cache-dir --user pipx
    - python -m pipx ensurepath
    - python -m pipx install poetry
    - poetry config virtualenvs.in-project true
    - poetry install --only main --no-interaction --no-root
  script: 
    - poetry run python -m unittest tests/*
