stages:
  - test 
  - build
  - deploy

default:
  image: python:3.13-slim

unit-tests:
  stage: test
  before_script: 
    - pip install poetry
    - poetry install
    - source `poetry env info --path`/bin/activate
  script: 
    - poetry run python -m unittest tests/*
