stages:
  - test 
  - build
  - deploy

include:
  - component: $CI_SERVER_FQDN/PigeonF/ci/buildx-build@~latest
    inputs:
      stage: deploy
      platforms: [linux/amd64, linux/arm64]
      tags: [$CI_REGISTRY_IMAGE:$CI_PIPELINE_IID, $CI_REGISTRY_IMAGE:latest]
      push: true
      
default:
  image: python:3.13-slim

unit-tests:
  stage: test
  before_script: 
    - pip install poetry
    - poetry install
    - source `poetry env info --path`/bin/activate
  script: 
    - poetry run python -m unittest tests/*
