default:
  image: python:3.13-slim
  
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

include:
  - component: $CI_SERVER_FQDN/PigeonF/ci/buildx-build@~latest
    inputs:
      stage: deploy
      platforms: [ linux/amd64, linux/arm64 ]
      tags: [ $CI_REGISTRY_IMAGE:$CI_PIPELINE_IID, $CI_REGISTRY_IMAGE:latest ]
      push: true

.poetry:
  before_script:
    - pip install poetry
    - poetry install
    - source `poetry env info --path`/bin/activate

lint:
  stage: test
  extends: .poetry
  script:
    - poetry run ruff check

unit-tests:
  stage: test
  extends: .poetry
  script:
    - poetry run pytest

docker buildx build:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

publish:dockerhub:
  image: jonoh/docker-buildx-qemu
  before_script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_TOKEN
  stage: deploy
  needs: [ "docker buildx build" ]
  variables:
    TARGET_IMAGE: djbasster/anker-solix-prom-exporter
    BUILDER_NAME: multiarch-$CI_JOB_ID
  script:
    - docker buildx imagetools create -t "${TARGET_IMAGE}:${CI_PIPELINE_IID}" "${CI_REGISTRY_IMAGE}:${CI_PIPELINE_IID}"
    - docker buildx imagetools create -t "${TARGET_IMAGE}:latest" "${CI_REGISTRY_IMAGE}:latest"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
